In [17]:
import pandas as pd

In [18]:
# eerst inlezen
enquete = pd.read_csv('Enquête Data Science 2023.csv')
enquete.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110 entries, 0 to 109
Data columns (total 32 columns):
 #   Column                                                                                                                                                                                                 Non-Null Count  Dtype
---  ------                                                                                                                                                                                                 --------------  -----
 0   1. Wat was je score op de GapMinder test? Je hoeft je niet te schamen als het slecht was :-). De meeste mensen score vrij slecht.  Noteer de score hieronder als een breuk.                            110 non-null    object
 1   2. Met welke hand schrijf je?                                                                                                                                                                          110 non-null    object
 2   3. Wat is je schoenmaat?                                                                                                                                                                               110 non-null    float64
 3   4. Wat is je lichaamslengte (in cm)?                                                                                                                                                                   110 non-null    int64
 4   5. Wat is je bloedgroep: AB0?                                                                                                                                                                          110 non-null    object
 5   6. Wat is de resusfactor van je bloedgroep?                                                                                                                                                            110 non-null    object
 6   7. Hoeveel broers / zussen heb je?                                                                                                                                                                     110 non-null    int64
 7   8. Vink alle beweringen aan die volgens aannemelijk zijn.                                                                                                                                              110 non-null    object
 8   9. Welke rijbewijzen heb je al volledig behaald?                                                                                                                                                       110 non-null    object
 9   10. Mijn domicilieadres ligt                                                                                                                                                                           110 non-null    object
 10  11. Welke afstudeerrichting denk je te kiezen?                                                                                                                                                         110 non-null    object
 11  12. Wat is je favoriete vrijetijdsbesteding?                                                                                                                                                           110 non-null    object
 12  13. Hoeveel uren wiskunde had je in het laatste jaar middelbaar?                                                                                                                                       110 non-null    int64
 13  14. Hoe belangrijk is het voor je om informaticus te worden?                                                                                                                                           110 non-null    object
 14  15. Hoeveel uur werk je gemiddelde per week voor school buiten de schooluren? Noteer als HH:mm (en wees eerlijk)                                                                                       110 non-null    object
 15  16. Wat is de afstand van thuis / kot naar de KdG campus Groenplaats (in km)?                                                                                                                          110 non-null    float64
 16  17. Hoe kom je naar school?                                                                                                                                                                            110 non-null    object
 17  18. In 2012 bedroeg de opwarming van de aarde 0.85°C t.o.v. het jaar 1880. In 2020 bedroeg het reeds 0.98°C. Wanneer zal de aarde volgens jou meer dan 1.5°C opgewarmd zijn door de klimaatopwarming?  110 non-null    object
 18  19.  Hoeveel zakgeld krijg je of verdien je zelf per maand?                                                                                                                                            110 non-null    float64
 19  20a. Hoeveel stukken / porties fruit eet je gemiddeld per dag?                                                                                                                                         110 non-null    int64
 20  21. Welk besturingssysteem gebruik je het liefst?                                                                                                                                                      110 non-null    object
 21  22. Stel dat je maar één app op je smartphone mocht zetten, welke zou je dan kiezen                                                                                                                    110 non-null    object
 22  23a. In hoeverre vind je het belangrijk om het welzijn van anderen te beschermen en te verzorgen?                                                                                                      110 non-null    int64
 23  23b. In hoeverre geloof je dat het belangrijk is om middelen gelijk en eerlijk te verdelen?                                                                                                            110 non-null    int64
 24  23c. In hoeverre vind je het belangrijk om loyaal te zijn aan je familie, vrienden of je land?                                                                                                         110 non-null    int64
 25  23d. In hoeverre vind je het belangrijk om gezag te respecteren en gevestigde regels en normen te volgen?                                                                                              110 non-null    int64
 26  23e. In hoeverre geloof je dat het belangrijk is om zuiverheid te handhaven en gedrag of handelingen te vermijden die als vulgair of immoreel worden ervaren?                                          110 non-null    int64
 27  23f. In hoeverre vind je het belangrijk dat individuen vrijheid van keuze en expressie hebben zonder inmenging van anderen?                                                                            110 non-null    int64
 28  24. Wat is volgens jou het zwaarste vak uit het eerste jaar?                                                                                                                                           110 non-null    object
 29  25. Welke vak uit het eerste jaar TI vind je het boeiendst?                                                                                                                                            110 non-null    object
 30  26. In het hoger onderwijs wordt 1 studiepunt gelijkgesteld aan 25 uren studiebelasting.
Wat is jouw inschatting?	                                                                                   110 non-null    int64
 31  27. Ik geef toestemming om deze gegevens geanonimiseerd te gebruiken binnen de lessen Data Science van de opleiding Toegepaste Informatica op KdG.                                                     110 non-null    object
dtypes: float64(3), int64(11), object(18)
memory usage: 27.6+ KB

In [19]:
# kolomnamen opkuisen
columnNames=['gapminder', 'schrijfhand', 'schoenmaat', 'lengte', 'bloedgroep', 'resus', 'siblings', 'beweringen', 'rijbewijzen', 'domicilie', 'afstudeerrichting', 'vrijetijd', 'uren_wiskunde', 'informatica_belangrijk', 'uur_schoolwerk_per_week', 'afstand', 'vervoermiddel', 'opwarming', 'zakgeld_per_maand', 'stukken_fruit', 'besturingsysteem', 'app', 'welzijn', 'gelijke_middelen', 'loyaliteit', 'respect', 'geloof', 'vrijheid', 'zwaarste_vak', 'boeiendste_vak', 'studiepunt', 'toestemming']
enquete = enquete.set_axis(columnNames, axis=1)
enquete.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110 entries, 0 to 109
Data columns (total 32 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   gapminder                110 non-null    object
 1   schrijfhand              110 non-null    object
 2   schoenmaat               110 non-null    float64
 3   lengte                   110 non-null    int64
 4   bloedgroep               110 non-null    object
 5   resus                    110 non-null    object
 6   siblings                 110 non-null    int64
 7   beweringen               110 non-null    object
 8   rijbewijzen              110 non-null    object
 9   domicilie                110 non-null    object
 10  afstudeerrichting        110 non-null    object
 11  vrijetijd                110 non-null    object
 12  uren_wiskunde            110 non-null    int64
 13  informatica_belangrijk   110 non-null    object
 14  uur_schoolwerk_per_week  110 non-null    object
 15  afstand                  110 non-null    float64
 16  vervoermiddel            110 non-null    object
 17  opwarming                110 non-null    object
 18  zakgeld_per_maand        110 non-null    float64
 19  stukken_fruit            110 non-null    int64
 20  besturingsysteem         110 non-null    object
 21  app                      110 non-null    object
 22  welzijn                  110 non-null    int64
 23  gelijke_middelen         110 non-null    int64
 24  loyaliteit               110 non-null    int64
 25  respect                  110 non-null    int64
 26  geloof                   110 non-null    int64
 27  vrijheid                 110 non-null    int64
 28  zwaarste_vak             110 non-null    object
 29  boeiendste_vak           110 non-null    object
 30  studiepunt               110 non-null    int64
 31  toestemming              110 non-null    object
dtypes: float64(3), int64(11), object(18)
memory usage: 27.6+ KB

In [20]:
# verwijder studenten die niet akkoord waren
regels = (enquete.toestemming=='Ja')
enquete = enquete[regels]
enquete.drop(columns='toestemming', inplace=True)
enquete.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 105 entries, 0 to 109
Data columns (total 31 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   gapminder                105 non-null    object
 1   schrijfhand              105 non-null    object
 2   schoenmaat               105 non-null    float64
 3   lengte                   105 non-null    int64
 4   bloedgroep               105 non-null    object
 5   resus                    105 non-null    object
 6   siblings                 105 non-null    int64
 7   beweringen               105 non-null    object
 8   rijbewijzen              105 non-null    object
 9   domicilie                105 non-null    object
 10  afstudeerrichting        105 non-null    object
 11  vrijetijd                105 non-null    object
 12  uren_wiskunde            105 non-null    int64
 13  informatica_belangrijk   105 non-null    object
 14  uur_schoolwerk_per_week  105 non-null    object
 15  afstand                  105 non-null    float64
 16  vervoermiddel            105 non-null    object
 17  opwarming                105 non-null    object
 18  zakgeld_per_maand        105 non-null    float64
 19  stukken_fruit            105 non-null    int64
 20  besturingsysteem         105 non-null    object
 21  app                      105 non-null    object
 22  welzijn                  105 non-null    int64
 23  gelijke_middelen         105 non-null    int64
 24  loyaliteit               105 non-null    int64
 25  respect                  105 non-null    int64
 26  geloof                   105 non-null    int64
 27  vrijheid                 105 non-null    int64
 28  zwaarste_vak             105 non-null    object
 29  boeiendste_vak           105 non-null    object
 30  studiepunt               105 non-null    int64
dtypes: float64(3), int64(11), object(17)
memory usage: 26.2+ KB

In [21]:
print(enquete.gapminder.unique())

['10/20' '3/18' '7/10' '5/20' '02/09' '04/09' '06/09' '5/18' '6/13'
 '11/13' '8/10' '4/18' '9/18' '6/10' '10/18' '8/15' '10/10' '13/18' '5/13'
 '7/13' '7/18' '12/18' '10/13' '5/09' '03/09' '9/13' '8/09' '4/09' '6/06'
 '6/09' '1/04' '8/18' '2/04' '1/05' '8/13' '5/9' '8/9' '6/9' '4/9' '3/9'
 '6/18' '11/18' '14/18' '9/90']

In [22]:
# gapminder omzetten naar percentage
gapminder = enquete.gapminder.str.split('/').tolist()
for i in range(len(gapminder)):
    gapminder[i] = int(gapminder[i][0]) / int(gapminder[i][1]) * 100.0
enquete.gapminder = gapminder
enquete.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 105 entries, 0 to 109
Data columns (total 31 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   gapminder                105 non-null    float64
 1   schrijfhand              105 non-null    object
 2   schoenmaat               105 non-null    float64
 3   lengte                   105 non-null    int64
 4   bloedgroep               105 non-null    object
 5   resus                    105 non-null    object
 6   siblings                 105 non-null    int64
 7   beweringen               105 non-null    object
 8   rijbewijzen              105 non-null    object
 9   domicilie                105 non-null    object
 10  afstudeerrichting        105 non-null    object
 11  vrijetijd                105 non-null    object
 12  uren_wiskunde            105 non-null    int64
 13  informatica_belangrijk   105 non-null    object
 14  uur_schoolwerk_per_week  105 non-null    object
 15  afstand                  105 non-null    float64
 16  vervoermiddel            105 non-null    object
 17  opwarming                105 non-null    object
 18  zakgeld_per_maand        105 non-null    float64
 19  stukken_fruit            105 non-null    int64
 20  besturingsysteem         105 non-null    object
 21  app                      105 non-null    object
 22  welzijn                  105 non-null    int64
 23  gelijke_middelen         105 non-null    int64
 24  loyaliteit               105 non-null    int64
 25  respect                  105 non-null    int64
 26  geloof                   105 non-null    int64
 27  vrijheid                 105 non-null    int64
 28  zwaarste_vak             105 non-null    object
 29  boeiendste_vak           105 non-null    object
 30  studiepunt               105 non-null    int64
dtypes: float64(4), int64(11), object(16)
memory usage: 26.2+ KB

In [23]:
schrijfhand = enquete.schrijfhand
print(schrijfhand.unique())

['Beide' 'Rechts' 'Links']

In [24]:
# schrijfhand naar categorical
schrijfhand = pd.Categorical(schrijfhand)
enquete.schrijfhand = schrijfhand
enquete.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 105 entries, 0 to 109
Data columns (total 31 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   gapminder                105 non-null    float64
 1   schrijfhand              105 non-null    category
 2   schoenmaat               105 non-null    float64
 3   lengte                   105 non-null    int64
 4   bloedgroep               105 non-null    object
 5   resus                    105 non-null    object
 6   siblings                 105 non-null    int64
 7   beweringen               105 non-null    object
 8   rijbewijzen              105 non-null    object
 9   domicilie                105 non-null    object
 10  afstudeerrichting        105 non-null    object
 11  vrijetijd                105 non-null    object
 12  uren_wiskunde            105 non-null    int64
 13  informatica_belangrijk   105 non-null    object
 14  uur_schoolwerk_per_week  105 non-null    object
 15  afstand                  105 non-null    float64
 16  vervoermiddel            105 non-null    object
 17  opwarming                105 non-null    object
 18  zakgeld_per_maand        105 non-null    float64
 19  stukken_fruit            105 non-null    int64
 20  besturingsysteem         105 non-null    object
 21  app                      105 non-null    object
 22  welzijn                  105 non-null    int64
 23  gelijke_middelen         105 non-null    int64
 24  loyaliteit               105 non-null    int64
 25  respect                  105 non-null    int64
 26  geloof                   105 non-null    int64
 27  vrijheid                 105 non-null    int64
 28  zwaarste_vak             105 non-null    object
 29  boeiendste_vak           105 non-null    object
 30  studiepunt               105 non-null    int64
dtypes: category(1), float64(4), int64(11), object(15)
memory usage: 25.7+ KB

In [25]:
bloedgroep = enquete.bloedgroep
print(bloedgroep.unique())

['Weet ik niet' 'A' 'O' 'AB' 'B']

In [26]:
# bloedgroep naar categorical
# zet 'Weet ik niet' om naar NA
bloedgroep = pd.Categorical(bloedgroep, categories=['O', 'A', 'B', 'AB'])
enquete.bloedgroep = bloedgroep
enquete.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 105 entries, 0 to 109
Data columns (total 31 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   gapminder                105 non-null    float64
 1   schrijfhand              105 non-null    category
 2   schoenmaat               105 non-null    float64
 3   lengte                   105 non-null    int64
 4   bloedgroep               65 non-null     category
 5   resus                    105 non-null    object
 6   siblings                 105 non-null    int64
 7   beweringen               105 non-null    object
 8   rijbewijzen              105 non-null    object
 9   domicilie                105 non-null    object
 10  afstudeerrichting        105 non-null    object
 11  vrijetijd                105 non-null    object
 12  uren_wiskunde            105 non-null    int64
 13  informatica_belangrijk   105 non-null    object
 14  uur_schoolwerk_per_week  105 non-null    object
 15  afstand                  105 non-null    float64
 16  vervoermiddel            105 non-null    object
 17  opwarming                105 non-null    object
 18  zakgeld_per_maand        105 non-null    float64
 19  stukken_fruit            105 non-null    int64
 20  besturingsysteem         105 non-null    object
 21  app                      105 non-null    object
 22  welzijn                  105 non-null    int64
 23  gelijke_middelen         105 non-null    int64
 24  loyaliteit               105 non-null    int64
 25  respect                  105 non-null    int64
 26  geloof                   105 non-null    int64
 27  vrijheid                 105 non-null    int64
 28  zwaarste_vak             105 non-null    object
 29  boeiendste_vak           105 non-null    object
 30  studiepunt               105 non-null    int64
dtypes: category(2), float64(4), int64(11), object(14)
memory usage: 25.1+ KB

In [27]:
resus = enquete.resus
print(resus.unique())

['Negatief' 'Positief' 'Weet ik niet']

In [28]:
# resus omzetten naar categorical
# zet 'Weet ik niet' om naar NA
resus = pd.Categorical(resus, categories=['Negatief', 'Positief'])
enquete.resus = resus
enquete.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 105 entries, 0 to 109
Data columns (total 31 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   gapminder                105 non-null    float64
 1   schrijfhand              105 non-null    category
 2   schoenmaat               105 non-null    float64
 3   lengte                   105 non-null    int64
 4   bloedgroep               65 non-null     category
 5   resus                    63 non-null     category
 6   siblings                 105 non-null    int64
 7   beweringen               105 non-null    object
 8   rijbewijzen              105 non-null    object
 9   domicilie                105 non-null    object
 10  afstudeerrichting        105 non-null    object
 11  vrijetijd                105 non-null    object
 12  uren_wiskunde            105 non-null    int64
 13  informatica_belangrijk   105 non-null    object
 14  uur_schoolwerk_per_week  105 non-null    object
 15  afstand                  105 non-null    float64
 16  vervoermiddel            105 non-null    object
 17  opwarming                105 non-null    object
 18  zakgeld_per_maand        105 non-null    float64
 19  stukken_fruit            105 non-null    int64
 20  besturingsysteem         105 non-null    object
 21  app                      105 non-null    object
 22  welzijn                  105 non-null    int64
 23  gelijke_middelen         105 non-null    int64
 24  loyaliteit               105 non-null    int64
 25  respect                  105 non-null    int64
 26  geloof                   105 non-null    int64
 27  vrijheid                 105 non-null    int64
 28  zwaarste_vak             105 non-null    object
 29  boeiendste_vak           105 non-null    object
 30  studiepunt               105 non-null    int64
dtypes: category(3), float64(4), int64(11), object(13)
memory usage: 24.5+ KB

In [29]:
# beweringen omzetten naar kolommen
beweringen = enquete.beweringen
print(beweringen.unique())
# nah, another time :-)

['De aanslagen van 9/11 in NY werden niet door terroristen gepleegd;Prinses Diana kwam niet per ongeluk om het leven;De maanlanding is in scène gezet om de Russen te slim af te zijn;In 1947 is er in Roswell, New Mexico, een UFO neergestort in de woestijn.;De wereld wordt eigenlijk gecontroleerd door een geheime elite'
 'De aanslagen van 9/11 in NY werden niet door terroristen gepleegd'
 'Geen enkele bewering is aannemelijk'
 'Prinses Diana kwam niet per ongeluk om het leven;John F. Kennedy werd vermoord in opdracht van de CIA'
 'De Holocaust heeft wel plaats gehad, maar was veel minder erg dan de geschiedenisboeken ons vertellen;De wereld wordt eigenlijk gecontroleerd door een geheime elite'
 'Prinses Diana kwam niet per ongeluk om het leven;In 1947 is er in Roswell, New Mexico, een UFO neergestort in de woestijn.;De wereld wordt eigenlijk gecontroleerd door een geheime elite'
 'De aanslagen van 9/11 in NY werden niet door terroristen gepleegd;De maanlanding is in scène gezet om de Russen te slim af te zijn;John F. Kennedy werd vermoord in opdracht van de CIA;De wereld wordt eigenlijk gecontroleerd door een geheime elite;Vaccinaties kunnen autisme veroorzaken'
 'De aanslagen van 9/11 in NY werden niet door terroristen gepleegd;Prinses Diana kwam niet per ongeluk om het leven;De maanlanding is in scène gezet om de Russen te slim af te zijn;John F. Kennedy werd vermoord in opdracht van de CIA;De uitlaatgassen van vliegtuigen bevatten chemicaliën die gebruikt worden om het weer te beïnvloeden;De eerste corona-uitbraken gebeuren in de buurt van 5G zendmasten;De Holocaust heeft wel plaats gehad, maar was veel minder erg dan de geschiedenisboeken ons vertellen;De wereld wordt eigenlijk gecontroleerd door een geheime elite;AIDS werd in labo gemaakt;Vaccinaties kunnen autisme veroorzaken;De tsunami van 2004 in de Indische Oceaan was het gevolg van een nucleair experiment'
 'De aanslagen van 9/11 in NY werden niet door terroristen gepleegd;Prinses Diana kwam niet per ongeluk om het leven;De maanlanding is in scène gezet om de Russen te slim af te zijn;De wereld wordt eigenlijk gecontroleerd door een geheime elite'
 'De wereld wordt eigenlijk gecontroleerd door een geheime elite'
 'Prinses Diana kwam niet per ongeluk om het leven'
 'De aanslagen van 9/11 in NY werden niet door terroristen gepleegd;Prinses Diana kwam niet per ongeluk om het leven'
 'Prinses Diana kwam niet per ongeluk om het leven;De maanlanding is in scène gezet om de Russen te slim af te zijn;In 1947 is er in Roswell, New Mexico, een UFO neergestort in de woestijn.;De Holocaust heeft wel plaats gehad, maar was veel minder erg dan de geschiedenisboeken ons vertellen;De wereld wordt eigenlijk gecontroleerd door een geheime elite;Vaccinaties kunnen autisme veroorzaken;De tsunami van 2004 in de Indische Oceaan was het gevolg van een nucleair experiment'
 'De aanslagen van 9/11 in NY werden niet door terroristen gepleegd;John F. Kennedy werd vermoord in opdracht van de CIA'
 'Prinses Diana kwam niet per ongeluk om het leven;De wereld wordt eigenlijk gecontroleerd door een geheime elite'
 'De aanslagen van 9/11 in NY werden niet door terroristen gepleegd;De maanlanding is in scène gezet om de Russen te slim af te zijn;De Holocaust heeft wel plaats gehad, maar was veel minder erg dan de geschiedenisboeken ons vertellen;De wereld wordt eigenlijk gecontroleerd door een geheime elite'
 'De aanslagen van 9/11 in NY werden niet door terroristen gepleegd;Prinses Diana kwam niet per ongeluk om het leven;De maanlanding is in scène gezet om de Russen te slim af te zijn;John F. Kennedy werd vermoord in opdracht van de CIA;In 1947 is er in Roswell, New Mexico, een UFO neergestort in de woestijn.;De uitlaatgassen van vliegtuigen bevatten chemicaliën die gebruikt worden om het weer te beïnvloeden;De eerste corona-uitbraken gebeuren in de buurt van 5G zendmasten;De Holocaust heeft wel plaats gehad, maar was veel minder erg dan de geschiedenisboeken ons vertellen;De wereld wordt eigenlijk gecontroleerd door een geheime elite;AIDS werd in labo gemaakt;Vaccinaties kunnen autisme veroorzaken;De tsunami van 2004 in de Indische Oceaan was het gevolg van een nucleair experiment'
 'De maanlanding is in scène gezet om de Russen te slim af te zijn;John F. Kennedy werd vermoord in opdracht van de CIA;Vaccinaties kunnen autisme veroorzaken'
 'Prinses Diana kwam niet per ongeluk om het leven;De maanlanding is in scène gezet om de Russen te slim af te zijn;John F. Kennedy werd vermoord in opdracht van de CIA;De eerste corona-uitbraken gebeuren in de buurt van 5G zendmasten;De wereld wordt eigenlijk gecontroleerd door een geheime elite'
 'De aanslagen van 9/11 in NY werden niet door terroristen gepleegd;John F. Kennedy werd vermoord in opdracht van de CIA;De wereld wordt eigenlijk gecontroleerd door een geheime elite'
 'De aanslagen van 9/11 in NY werden niet door terroristen gepleegd;De maanlanding is in scène gezet om de Russen te slim af te zijn;John F. Kennedy werd vermoord in opdracht van de CIA;De Holocaust heeft wel plaats gehad, maar was veel minder erg dan de geschiedenisboeken ons vertellen;De wereld wordt eigenlijk gecontroleerd door een geheime elite;AIDS werd in labo gemaakt'
 'Prinses Diana kwam niet per ongeluk om het leven;De maanlanding is in scène gezet om de Russen te slim af te zijn;AIDS werd in labo gemaakt'
 'De aanslagen van 9/11 in NY werden niet door terroristen gepleegd;Prinses Diana kwam niet per ongeluk om het leven;John F. Kennedy werd vermoord in opdracht van de CIA;De uitlaatgassen van vliegtuigen bevatten chemicaliën die gebruikt worden om het weer te beïnvloeden;De wereld wordt eigenlijk gecontroleerd door een geheime elite;De tsunami van 2004 in de Indische Oceaan was het gevolg van een nucleair experiment'
 'De aanslagen van 9/11 in NY werden niet door terroristen gepleegd;John F. Kennedy werd vermoord in opdracht van de CIA;De eerste corona-uitbraken gebeuren in de buurt van 5G zendmasten;De wereld wordt eigenlijk gecontroleerd door een geheime elite;AIDS werd in labo gemaakt'
 'Prinses Diana kwam niet per ongeluk om het leven;John F. Kennedy werd vermoord in opdracht van de CIA;De wereld wordt eigenlijk gecontroleerd door een geheime elite;De tsunami van 2004 in de Indische Oceaan was het gevolg van een nucleair experiment'
 'Vaccinaties kunnen autisme veroorzaken'
 'De maanlanding is in scène gezet om de Russen te slim af te zijn;John F. Kennedy werd vermoord in opdracht van de CIA;De wereld wordt eigenlijk gecontroleerd door een geheime elite;De tsunami van 2004 in de Indische Oceaan was het gevolg van een nucleair experiment'
 'De aanslagen van 9/11 in NY werden niet door terroristen gepleegd;Prinses Diana kwam niet per ongeluk om het leven;De maanlanding is in scène gezet om de Russen te slim af te zijn;John F. Kennedy werd vermoord in opdracht van de CIA;AIDS werd in labo gemaakt;Vaccinaties kunnen autisme veroorzaken;De tsunami van 2004 in de Indische Oceaan was het gevolg van een nucleair experiment'
 'Prinses Diana kwam niet per ongeluk om het leven;De uitlaatgassen van vliegtuigen bevatten chemicaliën die gebruikt worden om het weer te beïnvloeden;De wereld wordt eigenlijk gecontroleerd door een geheime elite'
 'De aanslagen van 9/11 in NY werden niet door terroristen gepleegd;Prinses Diana kwam niet per ongeluk om het leven;De maanlanding is in scène gezet om de Russen te slim af te zijn;John F. Kennedy werd vermoord in opdracht van de CIA;In 1947 is er in Roswell, New Mexico, een UFO neergestort in de woestijn.;De uitlaatgassen van vliegtuigen bevatten chemicaliën die gebruikt worden om het weer te beïnvloeden;De eerste corona-uitbraken gebeuren in de buurt van 5G zendmasten;De Holocaust heeft wel plaats gehad, maar was veel minder erg dan de geschiedenisboeken ons vertellen;De wereld wordt eigenlijk gecontroleerd door een geheime elite;AIDS werd in labo gemaakt;Vaccinaties kunnen autisme veroorzaken;De tsunami van 2004 in de Indische Oceaan was het gevolg van een nucleair experiment;Geen enkele bewering is aannemelijk'
 'Prinses Diana kwam niet per ongeluk om het leven;John F. Kennedy werd vermoord in opdracht van de CIA;De wereld wordt eigenlijk gecontroleerd door een geheime elite'
 'De aanslagen van 9/11 in NY werden niet door terroristen gepleegd;Prinses Diana kwam niet per ongeluk om het leven;In 1947 is er in Roswell, New Mexico, een UFO neergestort in de woestijn.;De Holocaust heeft wel plaats gehad, maar was veel minder erg dan de geschiedenisboeken ons vertellen;De wereld wordt eigenlijk gecontroleerd door een geheime elite;AIDS werd in labo gemaakt;Vaccinaties kunnen autisme veroorzaken'
 'De aanslagen van 9/11 in NY werden niet door terroristen gepleegd;De wereld wordt eigenlijk gecontroleerd door een geheime elite'
 'Prinses Diana kwam niet per ongeluk om het leven;John F. Kennedy werd vermoord in opdracht van de CIA;De uitlaatgassen van vliegtuigen bevatten chemicaliën die gebruikt worden om het weer te beïnvloeden;De wereld wordt eigenlijk gecontroleerd door een geheime elite'
 'Prinses Diana kwam niet per ongeluk om het leven;John F. Kennedy werd vermoord in opdracht van de CIA;In 1947 is er in Roswell, New Mexico, een UFO neergestort in de woestijn.;De wereld wordt eigenlijk gecontroleerd door een geheime elite;AIDS werd in labo gemaakt'
 'De aanslagen van 9/11 in NY werden niet door terroristen gepleegd;Prinses Diana kwam niet per ongeluk om het leven;De uitlaatgassen van vliegtuigen bevatten chemicaliën die gebruikt worden om het weer te beïnvloeden;De tsunami van 2004 in de Indische Oceaan was het gevolg van een nucleair experiment'
 'De maanlanding is in scène gezet om de Russen te slim af te zijn;De uitlaatgassen van vliegtuigen bevatten chemicaliën die gebruikt worden om het weer te beïnvloeden'
 'De aanslagen van 9/11 in NY werden niet door terroristen gepleegd;John F. Kennedy werd vermoord in opdracht van de CIA;In 1947 is er in Roswell, New Mexico, een UFO neergestort in de woestijn.;De wereld wordt eigenlijk gecontroleerd door een geheime elite'
 'Prinses Diana kwam niet per ongeluk om het leven;John F. Kennedy werd vermoord in opdracht van de CIA;In 1947 is er in Roswell, New Mexico, een UFO neergestort in de woestijn.;De wereld wordt eigenlijk gecontroleerd door een geheime elite;De tsunami van 2004 in de Indische Oceaan was het gevolg van een nucleair experiment'
 'De aanslagen van 9/11 in NY werden niet door terroristen gepleegd;Prinses Diana kwam niet per ongeluk om het leven;John F. Kennedy werd vermoord in opdracht van de CIA;AIDS werd in labo gemaakt;De tsunami van 2004 in de Indische Oceaan was het gevolg van een nucleair experiment'
 'De aanslagen van 9/11 in NY werden niet door terroristen gepleegd;Prinses Diana kwam niet per ongeluk om het leven;In 1947 is er in Roswell, New Mexico, een UFO neergestort in de woestijn.;De wereld wordt eigenlijk gecontroleerd door een geheime elite;Vaccinaties kunnen autisme veroorzaken'
 'Prinses Diana kwam niet per ongeluk om het leven;In 1947 is er in Roswell, New Mexico, een UFO neergestort in de woestijn.;De eerste corona-uitbraken gebeuren in de buurt van 5G zendmasten;De wereld wordt eigenlijk gecontroleerd door een geheime elite;Vaccinaties kunnen autisme veroorzaken'
 'De aanslagen van 9/11 in NY werden niet door terroristen gepleegd;Prinses Diana kwam niet per ongeluk om het leven;John F. Kennedy werd vermoord in opdracht van de CIA;De tsunami van 2004 in de Indische Oceaan was het gevolg van een nucleair experiment'
 'De aanslagen van 9/11 in NY werden niet door terroristen gepleegd;John F. Kennedy werd vermoord in opdracht van de CIA;De wereld wordt eigenlijk gecontroleerd door een geheime elite;Vaccinaties kunnen autisme veroorzaken'
 'John F. Kennedy werd vermoord in opdracht van de CIA'
 'De aanslagen van 9/11 in NY werden niet door terroristen gepleegd;In 1947 is er in Roswell, New Mexico, een UFO neergestort in de woestijn.;De uitlaatgassen van vliegtuigen bevatten chemicaliën die gebruikt worden om het weer te beïnvloeden;De Holocaust heeft wel plaats gehad, maar was veel minder erg dan de geschiedenisboeken ons vertellen;AIDS werd in labo gemaakt;Geen enkele bewering is aannemelijk'
 'Prinses Diana kwam niet per ongeluk om het leven;De tsunami van 2004 in de Indische Oceaan was het gevolg van een nucleair experiment'
 'De wereld wordt eigenlijk gecontroleerd door een geheime elite;De tsunami van 2004 in de Indische Oceaan was het gevolg van een nucleair experiment']

In [30]:
rijbewijzen = enquete.rijbewijzen
print(rijbewijzen.unique())

['Categorie A: Motorfietsen.;Categorie B: Wagens.;Categorie D: Bussen.'
 'Categorie B: Wagens.'
 'Categorie AM: Bromfietsen met een maximumsnelheid tussen 25 en 45 km/u.;Categorie B: Wagens.'
 'Categorie D: Bussen.' 'Categorie G: Landbouwvoertuigen.'
 'Categorie AM: Bromfietsen met een maximumsnelheid tussen 25 en 45 km/u.'
 'Categorie AM: Bromfietsen met een maximumsnelheid tussen 25 en 45 km/u.;Categorie A: Motorfietsen.;Categorie B: Wagens.;Categorie C: Vrachtwagens.;Categorie D: Bussen.;Categorie G: Landbouwvoertuigen.'
 'Categorie B: Wagens.;Categorie G: Landbouwvoertuigen.' 'Geen'
 'Categorie AM: Bromfietsen met een maximumsnelheid tussen 25 en 45 km/u.;Categorie A: Motorfietsen.;Categorie B: Wagens.']

In [31]:
# rijbewijzen opsplitsen in verschillende kolommen
mogelijkheden = ['Categorie AM: Bromfietsen met een maximumsnelheid tussen 25 en 45 km/u.', 'Categorie A: Motorfietsen.', 'Categorie B: Wagens.', 'Categorie C: Vrachtwagens.', 'Categorie D: Bussen.', 'Categorie G: Landbouwvoertuigen.', 'Geen']
rijbewijzen = enquete.rijbewijzen.str.split(';').to_list()
print(rijbewijzen[0])
print(rijbewijzen[1])

['Categorie A: Motorfietsen.', 'Categorie B: Wagens.', 'Categorie D: Bussen.']
['Categorie B: Wagens.']

In [32]:
rijbewijsAM = []
rijbewijsA = []
rijbewijsB = []
rijbewijsC = []
rijbewijsD = []
rijbewijsG = []
for i in range(len(rijbewijzen)):
    rijbewijsAM.append(mogelijkheden[0] in rijbewijzen[i])
    rijbewijsA.append(mogelijkheden[1] in rijbewijzen[i])
    rijbewijsB.append(mogelijkheden[2] in rijbewijzen[i])
    rijbewijsC.append(mogelijkheden[3] in rijbewijzen[i])
    rijbewijsD.append(mogelijkheden[4] in rijbewijzen[i])
    rijbewijsG.append(mogelijkheden[5] in rijbewijzen[i])
enquete.drop(columns=['rijbewijzen'], inplace=True)
enquete['rijbewijsAM'] = rijbewijsAM
enquete['rijbewijsA'] = rijbewijsA
enquete['rijbewijsB'] = rijbewijsB
enquete['rijbewijsC'] = rijbewijsC
enquete['rijbewijsD'] = rijbewijsD
enquete['rijbewijsG'] = rijbewijsG
enquete.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 105 entries, 0 to 109
Data columns (total 36 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   gapminder                105 non-null    float64
 1   schrijfhand              105 non-null    category
 2   schoenmaat               105 non-null    float64
 3   lengte                   105 non-null    int64
 4   bloedgroep               65 non-null     category
 5   resus                    63 non-null     category
 6   siblings                 105 non-null    int64
 7   beweringen               105 non-null    object
 8   domicilie                105 non-null    object
 9   afstudeerrichting        105 non-null    object
 10  vrijetijd                105 non-null    object
 11  uren_wiskunde            105 non-null    int64
 12  informatica_belangrijk   105 non-null    object
 13  uur_schoolwerk_per_week  105 non-null    object
 14  afstand                  105 non-null    float64
 15  vervoermiddel            105 non-null    object
 16  opwarming                105 non-null    object
 17  zakgeld_per_maand        105 non-null    float64
 18  stukken_fruit            105 non-null    int64
 19  besturingsysteem         105 non-null    object
 20  app                      105 non-null    object
 21  welzijn                  105 non-null    int64
 22  gelijke_middelen         105 non-null    int64
 23  loyaliteit               105 non-null    int64
 24  respect                  105 non-null    int64
 25  geloof                   105 non-null    int64
 26  vrijheid                 105 non-null    int64
 27  zwaarste_vak             105 non-null    object
 28  boeiendste_vak           105 non-null    object
 29  studiepunt               105 non-null    int64
 30  rijbewijsAM              105 non-null    bool
 31  rijbewijsA               105 non-null    bool
 32  rijbewijsB               105 non-null    bool
 33  rijbewijsC               105 non-null    bool
 34  rijbewijsD               105 non-null    bool
 35  rijbewijsG               105 non-null    bool
dtypes: bool(6), category(3), float64(4), int64(11), object(12)
memory usage: 24.3+ KB

In [33]:
domicilie = enquete.domicilie
print(domicilie.unique())

['in een stad'
 'buiten de stad (een dorp, een gehucht, het platteland, ...)']

In [34]:
# domicilie omzetten naar categorical
domicilie = pd.Categorical(domicilie)
print(domicilie)

['in een stad', 'buiten de stad (een dorp, een gehucht, het pl..., 'in een stad', 'buiten de stad (een dorp, een gehucht, het pl..., 'buiten de stad (een dorp, een gehucht, het pl..., ..., 'buiten de stad (een dorp, een gehucht, het pl..., 'buiten de stad (een dorp, een gehucht, het pl..., 'buiten de stad (een dorp, een gehucht, het pl..., 'in een stad', 'in een stad']
Length: 105
Categories (2, object): ['buiten de stad (een dorp, een gehucht, het pl..., 'in een stad']

In [35]:
domicilie = domicilie.rename_categories(['buiten de stad', 'in een stad'])
print(domicilie)

['in een stad', 'buiten de stad', 'in een stad', 'buiten de stad', 'buiten de stad', ..., 'buiten de stad', 'buiten de stad', 'buiten de stad', 'in een stad', 'in een stad']
Length: 105
Categories (2, object): ['buiten de stad', 'in een stad']

In [36]:
enquete.domicilie = domicilie
enquete.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 105 entries, 0 to 109
Data columns (total 36 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   gapminder                105 non-null    float64
 1   schrijfhand              105 non-null    category
 2   schoenmaat               105 non-null    float64
 3   lengte                   105 non-null    int64
 4   bloedgroep               65 non-null     category
 5   resus                    63 non-null     category
 6   siblings                 105 non-null    int64
 7   beweringen               105 non-null    object
 8   domicilie                105 non-null    category
 9   afstudeerrichting        105 non-null    object
 10  vrijetijd                105 non-null    object
 11  uren_wiskunde            105 non-null    int64
 12  informatica_belangrijk   105 non-null    object
 13  uur_schoolwerk_per_week  105 non-null    object
 14  afstand                  105 non-null    float64
 15  vervoermiddel            105 non-null    object
 16  opwarming                105 non-null    object
 17  zakgeld_per_maand        105 non-null    float64
 18  stukken_fruit            105 non-null    int64
 19  besturingsysteem         105 non-null    object
 20  app                      105 non-null    object
 21  welzijn                  105 non-null    int64
 22  gelijke_middelen         105 non-null    int64
 23  loyaliteit               105 non-null    int64
 24  respect                  105 non-null    int64
 25  geloof                   105 non-null    int64
 26  vrijheid                 105 non-null    int64
 27  zwaarste_vak             105 non-null    object
 28  boeiendste_vak           105 non-null    object
 29  studiepunt               105 non-null    int64
 30  rijbewijsAM              105 non-null    bool
 31  rijbewijsA               105 non-null    bool
 32  rijbewijsB               105 non-null    bool
 33  rijbewijsC               105 non-null    bool
 34  rijbewijsD               105 non-null    bool
 35  rijbewijsG               105 non-null    bool
dtypes: bool(6), category(4), float64(4), int64(11), object(11)
memory usage: 23.7+ KB

In [37]:
afstudeerrichting = enquete.afstudeerrichting
print(afstudeerrichting.unique())

['Artificial Intelligence' 'Applicatieontwikkeling'
 'Systeem en netwerkbeheer' 'Software Management']

In [38]:
# afstudeerrichting omzetten naar categorical
afstudeerrichting = pd.Categorical(afstudeerrichting)
enquete.afstudeerrichting = afstudeerrichting
enquete.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 105 entries, 0 to 109
Data columns (total 36 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   gapminder                105 non-null    float64
 1   schrijfhand              105 non-null    category
 2   schoenmaat               105 non-null    float64
 3   lengte                   105 non-null    int64
 4   bloedgroep               65 non-null     category
 5   resus                    63 non-null     category
 6   siblings                 105 non-null    int64
 7   beweringen               105 non-null    object
 8   domicilie                105 non-null    category
 9   afstudeerrichting        105 non-null    category
 10  vrijetijd                105 non-null    object
 11  uren_wiskunde            105 non-null    int64
 12  informatica_belangrijk   105 non-null    object
 13  uur_schoolwerk_per_week  105 non-null    object
 14  afstand                  105 non-null    float64
 15  vervoermiddel            105 non-null    object
 16  opwarming                105 non-null    object
 17  zakgeld_per_maand        105 non-null    float64
 18  stukken_fruit            105 non-null    int64
 19  besturingsysteem         105 non-null    object
 20  app                      105 non-null    object
 21  welzijn                  105 non-null    int64
 22  gelijke_middelen         105 non-null    int64
 23  loyaliteit               105 non-null    int64
 24  respect                  105 non-null    int64
 25  geloof                   105 non-null    int64
 26  vrijheid                 105 non-null    int64
 27  zwaarste_vak             105 non-null    object
 28  boeiendste_vak           105 non-null    object
 29  studiepunt               105 non-null    int64
 30  rijbewijsAM              105 non-null    bool
 31  rijbewijsA               105 non-null    bool
 32  rijbewijsB               105 non-null    bool
 33  rijbewijsC               105 non-null    bool
 34  rijbewijsD               105 non-null    bool
 35  rijbewijsG               105 non-null    bool
dtypes: bool(6), category(5), float64(4), int64(11), object(10)
memory usage: 23.2+ KB

In [39]:
vrijetijd = enquete.vrijetijd
print(vrijetijd.unique())

['Lezen' 'Gamen' 'Dansen' 'Andere' 'Sport (beoefenen/supporteren)'
 'Internet/Social Media' 'Shoppen' 'Film/TV-series'
 'Muziek (bespelen/luisteren)' 'Jeugdbeweging']

In [40]:
# vrijetijd omzetten naar categorical
vrijetijd = pd.Categorical(vrijetijd)
enquete.vrijetijd = vrijetijd
enquete.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 105 entries, 0 to 109
Data columns (total 36 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   gapminder                105 non-null    float64
 1   schrijfhand              105 non-null    category
 2   schoenmaat               105 non-null    float64
 3   lengte                   105 non-null    int64
 4   bloedgroep               65 non-null     category
 5   resus                    63 non-null     category
 6   siblings                 105 non-null    int64
 7   beweringen               105 non-null    object
 8   domicilie                105 non-null    category
 9   afstudeerrichting        105 non-null    category
 10  vrijetijd                105 non-null    category
 11  uren_wiskunde            105 non-null    int64
 12  informatica_belangrijk   105 non-null    object
 13  uur_schoolwerk_per_week  105 non-null    object
 14  afstand                  105 non-null    float64
 15  vervoermiddel            105 non-null    object
 16  opwarming                105 non-null    object
 17  zakgeld_per_maand        105 non-null    float64
 18  stukken_fruit            105 non-null    int64
 19  besturingsysteem         105 non-null    object
 20  app                      105 non-null    object
 21  welzijn                  105 non-null    int64
 22  gelijke_middelen         105 non-null    int64
 23  loyaliteit               105 non-null    int64
 24  respect                  105 non-null    int64
 25  geloof                   105 non-null    int64
 26  vrijheid                 105 non-null    int64
 27  zwaarste_vak             105 non-null    object
 28  boeiendste_vak           105 non-null    object
 29  studiepunt               105 non-null    int64
 30  rijbewijsAM              105 non-null    bool
 31  rijbewijsA               105 non-null    bool
 32  rijbewijsB               105 non-null    bool
 33  rijbewijsC               105 non-null    bool
 34  rijbewijsD               105 non-null    bool
 35  rijbewijsG               105 non-null    bool
dtypes: bool(6), category(6), float64(4), int64(11), object(9)
memory usage: 22.9+ KB

In [41]:
belangrijk = enquete.informatica_belangrijk
print(belangrijk.unique())

['Extreem' 'Matig' 'Groot' 'Niet' 'Zeer Groot' 'Weinig']

In [42]:
# informatica belangrijk naar categorical
juiste_volgorde = ['Niet', 'Weinig', 'Matig', 'Groot', 'Zeer Groot', 'Extreem']
belangrijk = pd.Categorical(belangrijk, categories=juiste_volgorde, ordered=True)
enquete.informatica_belangrijk = belangrijk
enquete.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 105 entries, 0 to 109
Data columns (total 36 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   gapminder                105 non-null    float64
 1   schrijfhand              105 non-null    category
 2   schoenmaat               105 non-null    float64
 3   lengte                   105 non-null    int64
 4   bloedgroep               65 non-null     category
 5   resus                    63 non-null     category
 6   siblings                 105 non-null    int64
 7   beweringen               105 non-null    object
 8   domicilie                105 non-null    category
 9   afstudeerrichting        105 non-null    category
 10  vrijetijd                105 non-null    category
 11  uren_wiskunde            105 non-null    int64
 12  informatica_belangrijk   105 non-null    category
 13  uur_schoolwerk_per_week  105 non-null    object
 14  afstand                  105 non-null    float64
 15  vervoermiddel            105 non-null    object
 16  opwarming                105 non-null    object
 17  zakgeld_per_maand        105 non-null    float64
 18  stukken_fruit            105 non-null    int64
 19  besturingsysteem         105 non-null    object
 20  app                      105 non-null    object
 21  welzijn                  105 non-null    int64
 22  gelijke_middelen         105 non-null    int64
 23  loyaliteit               105 non-null    int64
 24  respect                  105 non-null    int64
 25  geloof                   105 non-null    int64
 26  vrijheid                 105 non-null    int64
 27  zwaarste_vak             105 non-null    object
 28  boeiendste_vak           105 non-null    object
 29  studiepunt               105 non-null    int64
 30  rijbewijsAM              105 non-null    bool
 31  rijbewijsA               105 non-null    bool
 32  rijbewijsB               105 non-null    bool
 33  rijbewijsC               105 non-null    bool
 34  rijbewijsD               105 non-null    bool
 35  rijbewijsG               105 non-null    bool
dtypes: bool(6), category(7), float64(4), int64(11), object(8)
memory usage: 22.4+ KB

In [43]:
uurMinuut = enquete.uur_schoolwerk_per_week
print(uurMinuut.unique())

['23:27' '02:00' '12:30' '07:00' '04:30' '04:00' '03:00' '09:00' '10:00'
 '11:00' '06:30' '15:00' '16:00' '00:45' '08:20' '23:00' '01:15' '08:00'
 '00:10' '06:00' '10:30' '00:00' '12:00' '00:05' '05:30' '05:00' '22:00'
 '01:00' '18:00' '20:00' '02:30' '26:34' '14:00' '10:20' '15:30' '24:00'
 '01:30']

In [44]:
# uurMinuut omzetten naar minuten
uurMinuut = uurMinuut.str.split(':').to_list()
minuten = []
for i in range(len(uurMinuut)):
    minuten.append(int(uurMinuut[i][0]) * 60 + int(uurMinuut[i][1]))
enquete.drop(columns=['uur_schoolwerk_per_week'], inplace=True)
enquete['schoolwerk_per_week'] = minuten
enquete.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 105 entries, 0 to 109
Data columns (total 36 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   gapminder               105 non-null    float64
 1   schrijfhand             105 non-null    category
 2   schoenmaat              105 non-null    float64
 3   lengte                  105 non-null    int64
 4   bloedgroep              65 non-null     category
 5   resus                   63 non-null     category
 6   siblings                105 non-null    int64
 7   beweringen              105 non-null    object
 8   domicilie               105 non-null    category
 9   afstudeerrichting       105 non-null    category
 10  vrijetijd               105 non-null    category
 11  uren_wiskunde           105 non-null    int64
 12  informatica_belangrijk  105 non-null    category
 13  afstand                 105 non-null    float64
 14  vervoermiddel           105 non-null    object
 15  opwarming               105 non-null    object
 16  zakgeld_per_maand       105 non-null    float64
 17  stukken_fruit           105 non-null    int64
 18  besturingsysteem        105 non-null    object
 19  app                     105 non-null    object
 20  welzijn                 105 non-null    int64
 21  gelijke_middelen        105 non-null    int64
 22  loyaliteit              105 non-null    int64
 23  respect                 105 non-null    int64
 24  geloof                  105 non-null    int64
 25  vrijheid                105 non-null    int64
 26  zwaarste_vak            105 non-null    object
 27  boeiendste_vak          105 non-null    object
 28  studiepunt              105 non-null    int64
 29  rijbewijsAM             105 non-null    bool
 30  rijbewijsA              105 non-null    bool
 31  rijbewijsB              105 non-null    bool
 32  rijbewijsC              105 non-null    bool
 33  rijbewijsD              105 non-null    bool
 34  rijbewijsG              105 non-null    bool
 35  schoolwerk_per_week     105 non-null    int64
dtypes: bool(6), category(7), float64(4), int64(12), object(7)
memory usage: 22.4+ KB

In [45]:
vervoermiddel = enquete.vervoermiddel
print(vervoermiddel.unique())

['Te voet;Met de fiets' 'Met de tram;Met de auto' 'Met de fiets'
 'Met de trein;Met de tram;Met de bus'
 'Met de trein;Met de tram;Met de auto' 'Te voet;Met de trein;Met de tram'
 'Met de tram;Met de bus' 'Te voet;Met de fiets;Met de tram'
 'Met de trein;Met de tram' 'Met de tram'
 'Te voet;Met de fiets;Met de tram;Met de bus;Met de auto' 'Te voet'
 'Met de fiets;Met de tram;Met de bus' 'Met de fiets;Met de trein'
 'Met de trein' 'Te voet;Met de fiets;Met de trein;Met de tram;Met de bus'
 'Te voet;Met de tram;Met de bus'
 'Te voet;Met de fiets;Met de trein;Met de tram' 'Met de bus'
 'Met de fiets;Met de trein;Met de tram' 'Met de trein;Met de auto'
 'Andere' 'Met de fiets;Met de tram' 'Met de trein;Andere'
 'Met de tram;Andere' 'Met de bus;Andere'
 'Te voet;Met de tram;Met de auto' 'Te voet;Met de tram'
 'Met de fiets;Met de auto' 'Met de bus;Met de auto']

In [46]:
# vervoermiddel omzetten naar verschillende kolommen
mogelijkheden = ['Te voet', 'Met de fiets', 'Met de tram', 'Met de auto', 'Met de trein', 'Met de bus']
vervoer = vervoermiddel.str.split(';').to_list()
vervoer_te_voet = []
vervoer_fiets = []
vervoer_tram = []
vervoer_auto = []
vervoer_trein = []
vervoer_bus = []
for i in range(len(vervoer)):
    vervoer_te_voet.append(mogelijkheden[0] in vervoer[i])
    vervoer_fiets.append(mogelijkheden[1] in vervoer[i])
    vervoer_tram.append(mogelijkheden[2] in vervoer[i])
    vervoer_auto.append(mogelijkheden[3] in vervoer[i])
    vervoer_trein.append(mogelijkheden[4] in vervoer[i])
    vervoer_bus.append(mogelijkheden[5] in vervoer[i])
enquete.drop(columns=['vervoermiddel'], inplace=True)
enquete['vervoer_te_voet'] = vervoer_te_voet
enquete['vervoer_fiets'] = vervoer_fiets
enquete['vervoer_tram'] = vervoer_tram
enquete['vervoer_auto'] = vervoer_auto
enquete['vervoer_trein'] = vervoer_trein
enquete['vervoer_bus'] = vervoer_bus
enquete.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 105 entries, 0 to 109
Data columns (total 41 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   gapminder               105 non-null    float64
 1   schrijfhand             105 non-null    category
 2   schoenmaat              105 non-null    float64
 3   lengte                  105 non-null    int64
 4   bloedgroep              65 non-null     category
 5   resus                   63 non-null     category
 6   siblings                105 non-null    int64
 7   beweringen              105 non-null    object
 8   domicilie               105 non-null    category
 9   afstudeerrichting       105 non-null    category
 10  vrijetijd               105 non-null    category
 11  uren_wiskunde           105 non-null    int64
 12  informatica_belangrijk  105 non-null    category
 13  afstand                 105 non-null    float64
 14  opwarming               105 non-null    object
 15  zakgeld_per_maand       105 non-null    float64
 16  stukken_fruit           105 non-null    int64
 17  besturingsysteem        105 non-null    object
 18  app                     105 non-null    object
 19  welzijn                 105 non-null    int64
 20  gelijke_middelen        105 non-null    int64
 21  loyaliteit              105 non-null    int64
 22  respect                 105 non-null    int64
 23  geloof                  105 non-null    int64
 24  vrijheid                105 non-null    int64
 25  zwaarste_vak            105 non-null    object
 26  boeiendste_vak          105 non-null    object
 27  studiepunt              105 non-null    int64
 28  rijbewijsAM             105 non-null    bool
 29  rijbewijsA              105 non-null    bool
 30  rijbewijsB              105 non-null    bool
 31  rijbewijsC              105 non-null    bool
 32  rijbewijsD              105 non-null    bool
 33  rijbewijsG              105 non-null    bool
 34  schoolwerk_per_week     105 non-null    int64
 35  vervoer_te_voet         105 non-null    bool
 36  vervoer_fiets           105 non-null    bool
 37  vervoer_tram            105 non-null    bool
 38  vervoer_auto            105 non-null    bool
 39  vervoer_trein           105 non-null    bool
 40  vervoer_bus             105 non-null    bool
dtypes: bool(12), category(7), float64(4), int64(12), object(6)
memory usage: 22.2+ KB

In [47]:
opwarming = enquete.opwarming
print(opwarming.unique())

['2028-04-01' '2035-01-01' '2040-01-01' '2030-07-27' '2030-11-29'
 '2030-12-01' '2050-01-01' '2073-01-01' '2120-01-01' '2050-02-09'
 '2030-12-30' '2030-01-01' '2032-05-27' '2055-01-01' '2028-01-10'
 '2027-10-31' '2050-01-10' '2065-01-10' '2050-11-30' '2025-06-10'
 '2023-02-11' '2040-02-10' '2030-06-05' '2030-11-09' '2013-02-28'
 '2031-01-10' '2060-01-01' '2067-06-03' '2024-09-11' '2072-12-31'
 '2024-05-10' '2110-01-09' '2036-03-21' '2062-03-31' '2050-01-11'
 '2030-03-22' '2050-12-06' '2020-02-01' '2050-06-22' '2070-02-02'
 '2032-05-17' '2100-01-01' '2025-02-16' '2032-10-05' '2500-12-12'
 '2023-02-16' '2045-01-16' '2037-07-11' '2023-12-16' '2025-03-16'
 '2024-10-20' '2023-03-07' '2050-02-01' '2025-01-01' '2030-07-16'
 '2300-01-01' '2035-06-01' '2026-09-07' '2026-03-18' '2026-04-17'
 '2029-02-27' '2036-01-01' '2024-01-15' '2065-01-01' '2045-02-13'
 '2030-08-27' '2026-02-13' '2025-02-27' '2035-06-24' '2028-08-28'
 '2045-01-01']

In [48]:
# opwarming omzetten naar jaartal
opwarming = opwarming.str.split('-').to_list()
for i in range(len(opwarming)):
    opwarming[i] = int(opwarming[i][0])
enquete.opwarming = opwarming
enquete.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 105 entries, 0 to 109
Data columns (total 41 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   gapminder               105 non-null    float64
 1   schrijfhand             105 non-null    category
 2   schoenmaat              105 non-null    float64
 3   lengte                  105 non-null    int64
 4   bloedgroep              65 non-null     category
 5   resus                   63 non-null     category
 6   siblings                105 non-null    int64
 7   beweringen              105 non-null    object
 8   domicilie               105 non-null    category
 9   afstudeerrichting       105 non-null    category
 10  vrijetijd               105 non-null    category
 11  uren_wiskunde           105 non-null    int64
 12  informatica_belangrijk  105 non-null    category
 13  afstand                 105 non-null    float64
 14  opwarming               105 non-null    int64
 15  zakgeld_per_maand       105 non-null    float64
 16  stukken_fruit           105 non-null    int64
 17  besturingsysteem        105 non-null    object
 18  app                     105 non-null    object
 19  welzijn                 105 non-null    int64
 20  gelijke_middelen        105 non-null    int64
 21  loyaliteit              105 non-null    int64
 22  respect                 105 non-null    int64
 23  geloof                  105 non-null    int64
 24  vrijheid                105 non-null    int64
 25  zwaarste_vak            105 non-null    object
 26  boeiendste_vak          105 non-null    object
 27  studiepunt              105 non-null    int64
 28  rijbewijsAM             105 non-null    bool
 29  rijbewijsA              105 non-null    bool
 30  rijbewijsB              105 non-null    bool
 31  rijbewijsC              105 non-null    bool
 32  rijbewijsD              105 non-null    bool
 33  rijbewijsG              105 non-null    bool
 34  schoolwerk_per_week     105 non-null    int64
 35  vervoer_te_voet         105 non-null    bool
 36  vervoer_fiets           105 non-null    bool
 37  vervoer_tram            105 non-null    bool
 38  vervoer_auto            105 non-null    bool
 39  vervoer_trein           105 non-null    bool
 40  vervoer_bus             105 non-null    bool
dtypes: bool(12), category(7), float64(4), int64(13), object(5)
memory usage: 22.2+ KB

In [49]:
besturingsysteem = enquete.besturingsysteem
print(besturingsysteem.unique())

['Linux' 'Windows' 'iOS' 'Andere']

In [50]:
# besturingsysteem omzetten naar categorical
besturingsysteem = pd.Categorical(besturingsysteem)
enquete.besturingsysteem = besturingsysteem
enquete.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 105 entries, 0 to 109
Data columns (total 41 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   gapminder               105 non-null    float64
 1   schrijfhand             105 non-null    category
 2   schoenmaat              105 non-null    float64
 3   lengte                  105 non-null    int64
 4   bloedgroep              65 non-null     category
 5   resus                   63 non-null     category
 6   siblings                105 non-null    int64
 7   beweringen              105 non-null    object
 8   domicilie               105 non-null    category
 9   afstudeerrichting       105 non-null    category
 10  vrijetijd               105 non-null    category
 11  uren_wiskunde           105 non-null    int64
 12  informatica_belangrijk  105 non-null    category
 13  afstand                 105 non-null    float64
 14  opwarming               105 non-null    int64
 15  zakgeld_per_maand       105 non-null    float64
 16  stukken_fruit           105 non-null    int64
 17  besturingsysteem        105 non-null    category
 18  app                     105 non-null    object
 19  welzijn                 105 non-null    int64
 20  gelijke_middelen        105 non-null    int64
 21  loyaliteit              105 non-null    int64
 22  respect                 105 non-null    int64
 23  geloof                  105 non-null    int64
 24  vrijheid                105 non-null    int64
 25  zwaarste_vak            105 non-null    object
 26  boeiendste_vak          105 non-null    object
 27  studiepunt              105 non-null    int64
 28  rijbewijsAM             105 non-null    bool
 29  rijbewijsA              105 non-null    bool
 30  rijbewijsB              105 non-null    bool
 31  rijbewijsC              105 non-null    bool
 32  rijbewijsD              105 non-null    bool
 33  rijbewijsG              105 non-null    bool
 34  schoolwerk_per_week     105 non-null    int64
 35  vervoer_te_voet         105 non-null    bool
 36  vervoer_fiets           105 non-null    bool
 37  vervoer_tram            105 non-null    bool
 38  vervoer_auto            105 non-null    bool
 39  vervoer_trein           105 non-null    bool
 40  vervoer_bus             105 non-null    bool
dtypes: bool(12), category(8), float64(4), int64(13), object(4)
memory usage: 21.7+ KB

In [51]:
app = enquete.app
print(app.unique())

['Muziek App' 'Agenda App' 'Sociaal Netwerk App' 'Game App' 'Bank App'
 'GPS App' 'Openbaar vervoer App' 'Podcast App' 'Andere App']

In [52]:
# app omzetten naar categorical
app = pd.Categorical(app)
enquete.app = app
enquete.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 105 entries, 0 to 109
Data columns (total 41 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   gapminder               105 non-null    float64
 1   schrijfhand             105 non-null    category
 2   schoenmaat              105 non-null    float64
 3   lengte                  105 non-null    int64
 4   bloedgroep              65 non-null     category
 5   resus                   63 non-null     category
 6   siblings                105 non-null    int64
 7   beweringen              105 non-null    object
 8   domicilie               105 non-null    category
 9   afstudeerrichting       105 non-null    category
 10  vrijetijd               105 non-null    category
 11  uren_wiskunde           105 non-null    int64
 12  informatica_belangrijk  105 non-null    category
 13  afstand                 105 non-null    float64
 14  opwarming               105 non-null    int64
 15  zakgeld_per_maand       105 non-null    float64
 16  stukken_fruit           105 non-null    int64
 17  besturingsysteem        105 non-null    category
 18  app                     105 non-null    category
 19  welzijn                 105 non-null    int64
 20  gelijke_middelen        105 non-null    int64
 21  loyaliteit              105 non-null    int64
 22  respect                 105 non-null    int64
 23  geloof                  105 non-null    int64
 24  vrijheid                105 non-null    int64
 25  zwaarste_vak            105 non-null    object
 26  boeiendste_vak          105 non-null    object
 27  studiepunt              105 non-null    int64
 28  rijbewijsAM             105 non-null    bool
 29  rijbewijsA              105 non-null    bool
 30  rijbewijsB              105 non-null    bool
 31  rijbewijsC              105 non-null    bool
 32  rijbewijsD              105 non-null    bool
 33  rijbewijsG              105 non-null    bool
 34  schoolwerk_per_week     105 non-null    int64
 35  vervoer_te_voet         105 non-null    bool
 36  vervoer_fiets           105 non-null    bool
 37  vervoer_tram            105 non-null    bool
 38  vervoer_auto            105 non-null    bool
 39  vervoer_trein           105 non-null    bool
 40  vervoer_bus             105 non-null    bool
dtypes: bool(12), category(9), float64(4), int64(13), object(3)
memory usage: 21.3+ KB

In [53]:
zwaarste_vak = enquete.zwaarste_vak
print(zwaarste_vak.unique())

['Management 1' 'User interfaces 1' 'Software engineering 1'
 'Computersystemen 1' 'Netwerken 1' 'Communicatie 1'
 'Programmeren 1 - Java' 'Databanken 1' 'Programmeren 1 - Embedded'
 'Data science 1' 'Geen enkel']

In [54]:
# zwaarste vak omzetten naar categorical
zwaarste_vak = pd.Categorical(zwaarste_vak)
enquete.zwaarste_vak = zwaarste_vak
enquete.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 105 entries, 0 to 109
Data columns (total 41 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   gapminder               105 non-null    float64
 1   schrijfhand             105 non-null    category
 2   schoenmaat              105 non-null    float64
 3   lengte                  105 non-null    int64
 4   bloedgroep              65 non-null     category
 5   resus                   63 non-null     category
 6   siblings                105 non-null    int64
 7   beweringen              105 non-null    object
 8   domicilie               105 non-null    category
 9   afstudeerrichting       105 non-null    category
 10  vrijetijd               105 non-null    category
 11  uren_wiskunde           105 non-null    int64
 12  informatica_belangrijk  105 non-null    category
 13  afstand                 105 non-null    float64
 14  opwarming               105 non-null    int64
 15  zakgeld_per_maand       105 non-null    float64
 16  stukken_fruit           105 non-null    int64
 17  besturingsysteem        105 non-null    category
 18  app                     105 non-null    category
 19  welzijn                 105 non-null    int64
 20  gelijke_middelen        105 non-null    int64
 21  loyaliteit              105 non-null    int64
 22  respect                 105 non-null    int64
 23  geloof                  105 non-null    int64
 24  vrijheid                105 non-null    int64
 25  zwaarste_vak            105 non-null    category
 26  boeiendste_vak          105 non-null    object
 27  studiepunt              105 non-null    int64
 28  rijbewijsAM             105 non-null    bool
 29  rijbewijsA              105 non-null    bool
 30  rijbewijsB              105 non-null    bool
 31  rijbewijsC              105 non-null    bool
 32  rijbewijsD              105 non-null    bool
 33  rijbewijsG              105 non-null    bool
 34  schoolwerk_per_week     105 non-null    int64
 35  vervoer_te_voet         105 non-null    bool
 36  vervoer_fiets           105 non-null    bool
 37  vervoer_tram            105 non-null    bool
 38  vervoer_auto            105 non-null    bool
 39  vervoer_trein           105 non-null    bool
 40  vervoer_bus             105 non-null    bool
dtypes: bool(12), category(10), float64(4), int64(13), object(2)
memory usage: 21.0+ KB

In [55]:
boeiendste_vak = enquete.boeiendste_vak
print(boeiendste_vak.unique())

['Computersystemen 1' 'Programmeren 1 - Java' 'Data science 1'
 'Netwerken 1' 'User interfaces 1' 'Programmeren 1 - Embedded'
 'Management 1' 'Databanken 1' 'Software engineering 1' 'Communicatie 1'
 'Geen enkel']

In [56]:
# boeiendste vak omzetten naar categorical
boeiendste_vak = pd.Categorical(boeiendste_vak)
enquete.boeiendste_vak = boeiendste_vak
enquete.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 105 entries, 0 to 109
Data columns (total 41 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   gapminder               105 non-null    float64
 1   schrijfhand             105 non-null    category
 2   schoenmaat              105 non-null    float64
 3   lengte                  105 non-null    int64
 4   bloedgroep              65 non-null     category
 5   resus                   63 non-null     category
 6   siblings                105 non-null    int64
 7   beweringen              105 non-null    object
 8   domicilie               105 non-null    category
 9   afstudeerrichting       105 non-null    category
 10  vrijetijd               105 non-null    category
 11  uren_wiskunde           105 non-null    int64
 12  informatica_belangrijk  105 non-null    category
 13  afstand                 105 non-null    float64
 14  opwarming               105 non-null    int64
 15  zakgeld_per_maand       105 non-null    float64
 16  stukken_fruit           105 non-null    int64
 17  besturingsysteem        105 non-null    category
 18  app                     105 non-null    category
 19  welzijn                 105 non-null    int64
 20  gelijke_middelen        105 non-null    int64
 21  loyaliteit              105 non-null    int64
 22  respect                 105 non-null    int64
 23  geloof                  105 non-null    int64
 24  vrijheid                105 non-null    int64
 25  zwaarste_vak            105 non-null    category
 26  boeiendste_vak          105 non-null    category
 27  studiepunt              105 non-null    int64
 28  rijbewijsAM             105 non-null    bool
 29  rijbewijsA              105 non-null    bool
 30  rijbewijsB              105 non-null    bool
 31  rijbewijsC              105 non-null    bool
 32  rijbewijsD              105 non-null    bool
 33  rijbewijsG              105 non-null    bool
 34  schoolwerk_per_week     105 non-null    int64
 35  vervoer_te_voet         105 non-null    bool
 36  vervoer_fiets           105 non-null    bool
 37  vervoer_tram            105 non-null    bool
 38  vervoer_auto            105 non-null    bool
 39  vervoer_trein           105 non-null    bool
 40  vervoer_bus             105 non-null    bool
dtypes: bool(12), category(11), float64(4), int64(13), object(1)
memory usage: 20.6+ KB

In [57]:
# klaar!